---

import ArticleLayout from "../../../layouts/MainLayout.astro";
import CommentForm from '../../../components/CommentForm.astro';
import fetchArticles from "../../../lib/fetchArticles";
import { formatCategoryName } from "../../../utils/utils";

const { category, slug } = Astro.params;

const articles =  await fetchArticles( {collection:"all-articles", categoryName: category, slug: slug} );
const articleContent = articles[0];

const displayCategoryName = formatCategoryName(category);

Astro.response.headers.set(
  'CDN-Cache-Control',
  'public, s-maxage=5, stale-while-revalidate=59'
);

---

<ArticleLayout></ArticleLayout>

<main class="wrapper">

    <a href={`/articles/${category}`} class="breadcrumb">
        Back to {displayCategoryName}
    </a>

    <h2 class="article-title">{articleContent.title}</h2>
    <img src={articleContent.featuredImage} alt="oops-no-image" class="featured-image">
    <div class="article-content flow" set:html={articleContent.content} />

    <CommentForm articleSlug = {slug} />

</main>

<style>

body {
    background-image: linear-gradient(hsl(from var(--clr-primary) h 50% 3% / 0.7)), url(../../../images/articlepages-bg.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.wrapper {max-width: 60ch}

.breadcrumb {
    position: fixed;
    top: 5rem;
    left: 50%;
    translate: -50%;
    z-index: 99;
    width: max-content;
    padding: 0.75rem 1.25rem;
    font-family: monospace;
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--clr-tertiary);
    transition: color 0.3s ease;
    border-radius: 100vw;
    border: 1px solid hsl(from var(--clr-font) h s l / 0.3);
    box-shadow: var(--shadow);
    background-color: hsl(from var(--clr-primary-surface) h s 5% / 0.8);
    backdrop-filter: blur(10px);

    &:hover {color: var(--clr-accent-1);}
}

.article-title {
    color: var(--clr-accent-1);
    text-align: center;
}

.featured-image {
    margin: 3rem auto;
    max-height: 50vh;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
}

.article-content {
    max-width: 70ch;
    margin-inline: auto;

    h4 {font-style: italic;}
}


</style>