---

import MainLayout from "../../../layouts/MainLayout.astro";
import fetchArticles from "../../../lib/fetchArticles";
import { formatCategoryName } from "../../../utils/utils";

const { category } = Astro.params;

const posts = await fetchArticles( {collection: "all-articles", categoryName: category} );

const displayCategoryName = formatCategoryName(category);

Astro.response.headers.set(
  'CDN-Cache-Control', 
  'public, s-maxage=20, stale-while-revalidate=59'
);

---

<MainLayout />

<main class="wrapper flow">
    
    <h1>{displayCategoryName}</h1>

    <div class="latest-articles flow">
        <h2>Latest articles</h2>

        <ul class="article-list">
            {posts.map((post) => (
                <li class="article-card flow">
                    <h3 class="article-title"><a href={`/articles/${category}/${post.slug}`}>{post.title}</a></h3>
                    <p>{post.description}</p>
                </li>
            ))}
        </ul>
    </div>


</main>

<style>

body {
    background-image: linear-gradient(hsl(from var(--clr-primary) h 50% 3% / 0.7)), url(../../../images/articlepages-bg.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

h1 {text-align: center;}

.article-list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;

    .article-card {
        --_flow-space: 0.5rem;
        padding: 2rem;
        border-radius: 0.5rem;
        border: 1px solid hsl(from var(--clr-font) h s l / 0.3);
        background-color: hsl(from var(--clr-primary-surface) h s l / 0.5);
        backdrop-filter: blur(10px);
        transition: scale 0.4s ease;

        &:is(:hover, :focus) {scale: 1.02;}

        .article-title a {
            text-decoration: none;
            color: var(--clr-tertiary);
            width: fit-content;
            transition: color 0.4s ease;

            &:is(:hover, :focus) {color: var(--clr-accent-1);}
        }

        p {font-size: 1rem;}
    }
}

</style>